---
layout: default
title: Category
permalink: /category/
---

<div class="home">
  <h1 class="page-heading">Category</h1>
<!--
  <script>
    var aaa = location.href.split('/')[location.href.split('/').length-1].substring(1);
    aaa = aaa.replace('%20',' ');
    $('.category').css('display','none');
    $('#'+aaa).css('display','block');
  </script>
-->
  <ul class="post-list">

{% capture categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category = categories | split:',' | sort %}
{% for item in (0..site.categories.size) %}{% unless forloop.last %}
{% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}
<div class="category" id="{{ word }}">
<h2>{{ word | upcase }}</h2>
<ul>
{% for post in site.categories[word] %}{% if post.title != null %}
<li><span>{{ post.date | date: "%y.%m.%d" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% endif %}{% endfor %}
</ul>
</div>
{% endunless %}{% endfor %}

  </ul>
  
</div>

<script>
$(document).ready(function(){
  console.log($(location).attr('search'));
})

</script>