<div class="col-box col-box-author">
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <div class="col-box-title name">{{ site.author }}</div>
  <p>{{ site.profile }}</p>
  <p class="contact">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% for link in site.profile_links %}
    <a href="{{ link | last }}">{{ link | first }}</a>
    {% endfor %}
  </p>
</div>

<!--
<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
-->

<div class="col-box" id="col-box-category">
  <div class="col-box-title">Category</div>
  <ul>
    {%- for category_level1 in site.category -%}
    {%- if category_level1[0] != nil -%}
      <li>
        <a href="{{ site.url }}/category/#{{ category_level1[0] | replace: ' ','_' | replace: '#','____'| replace: '+','__'}}">{{ category_level1[0] }} {% if category_level1[1] == nil %}{% for category in site.categories %}{% if category.first == category_level1[0] %}({{ category[1].size }}) {% endif %}{% endfor %}{% endif %}</a>
        <ul>
        {%- for category_level2 in category_level1[1] -%}
        {%- if category_level2[0] != nil -%}
          <li>
            <a href="{{ site.url }}/category/#{{ category_level2[0] | replace: ' ','_' | replace: '#','____'| replace: '+','__'}}">{{ category_level2[0] }} {% if category_level2[1] == nil %}{% for category in site.categories %}{% if category.first == category_level2[0] %}({{ category[1].size }}) {% endif %}{% endfor %}{% endif %}</a>
            <ul>
              {%- for category_level3 in category_level2[1] -%}
              {%- if category_level3[0] != nil -%}
              <li>
                <a href="{{ site.url }}/category/#{{ category_level3[0] | replace: ' ','_' | replace: '#','____'| replace: '+','__'}}">{{ category_level3[0] }} {% if category_level3[1] == nil %}{% for category in site.categories %}{% if category.first == category_level3[0] %}({{ category[1].size }}) {% endif %}{% endfor %}{% endif %}</a>
              </li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </li>
        {%- endif -%}
        {%- endfor -%}
        </ul>
      </li>
    {%- endif -%}
    {%- endfor -%}  
  </ul>
</div>

<div class="col-box post-toc tabs">
  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">TOC</li>
    <li class="tab-link" data-tab="tab-2">Another Post</li>
  </ul>
  <div id="tab-1" class="tab-content current">
    <div class="">
      <div class="col-box-title">TOC</div>
    </div>
  </div>
  <div id="tab-2" class="tab-content">
    <div>
      <div class="col-box-title">{{page.categories.last}}</div>
      <ul>
      {% for post in site.categories[page.categories.last] %}{% if post.title != null %}
        <li><span>{{ post.date | date: "%y.%m.%d" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}{% endfor %}
      </ul>
    </div>
  </div>
</div>

<style>
    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
     
    ul.tabs li.current{
      background: #ededed;
      color: #222;
    }
     
    .tab-content{
      display: none;
      background: #ededed;
      padding: 15px;
    }
     
    .tab-content.current{
      display: inherit;
    }
</style>
